<a class="close" href="" [title]="'COMMON.CLOSE' | tgTranslate" (click)="close(); $event.preventDefault()">
    <tg-svg svg-icon="icon-close"></tg-svg>
</a>

<form [formGroup]="form" (ngSubmit)="submit()">
    <h2 class="title">{{ "COMMON.NEW_BULK" | tgTranslate }}</h2>
    <fieldset>
        <textarea cols="200" wrap="off" formControlName="data" [attr.placeholder]="'COMMON.ONE_ITEM_LINE' | tgTranslate"></textarea>
        <p class="field-error" *ngIf="form.get('data').invalid && form.get('data').touched">
            {{ errors.getMessage(form.get('data').errors) }}
        </p>
    </fieldset>
    <button class="btn-big" type="submit" [disabled]="submitting" [title]="'COMMON.SAVE' | tgTranslate">
        {{ "COMMON.SAVE" | tgTranslate }}
    </button>
</form>
