<section class="project-us-status">
    <div class="project-values-title">
        <h2>{{ sectionTitleKey | tgTranslate }}</h2>
        <button class="btn-small show-add-new" variant="primary" [title]="'ADMIN.US_STATUS.ACTION_ADD_STATUS' | tgTranslate" (click)="showAdd()">
            <span>{{ "ADMIN.US_STATUS.ACTION_ADD_STATUS" | tgTranslate }}</span>
        </button>
    </div>

    <div class="colors-table">
        <div class="table-header">
            <div class="row">
                <div class="color-column">{{ "COMMON.FIELDS.COLOR" | tgTranslate }}</div>
                <div class="status-name">{{ "COMMON.FIELDS.NAME" | tgTranslate }}</div>
                <div class="status-slug">{{ "COMMON.FIELDS.SLUG" | tgTranslate }}</div>
                <div class="is-closed-column">{{ "ADMIN.US_STATUS.IS_CLOSED_COLUMN" | tgTranslate }}</div>
                <div class="is-archived-column">{{ "ADMIN.US_STATUS.IS_ARCHIVED_COLUMN" | tgTranslate }}</div>
                <div class="options-column"></div>
            </div>
        </div>

        <div class="table-main">
            <div class="sortable" cdkDropList (cdkDropListDropped)="drop($event)">
                <div *ngFor="let value of values; let i = index; trackBy: trackById" cdkDrag [cdkDragData]="value">
                    <form *ngIf="!value.editing" class="row table-main visualization">
                        <tg-svg svg-icon="icon-draggable" cdkDragHandle></tg-svg>
                        <div class="color-column"><div class="current-color" [style.background]="value.color"></div></div>
                        <div class="status-name"><span>{{ value.name }}</span></div>
                        <div class="status-slug"><span>{{ value.slug }}</span></div>
                        <div class="is-closed-column"><tg-svg *ngIf="value.is_closed" svg-icon="icon-check"></tg-svg></div>
                        <div class="is-archived-column"><tg-svg *ngIf="value.is_archived" svg-icon="icon-check"></tg-svg></div>
                        <div class="options-column">
                            <a class="edit-value" href="" (click)="startEdit(value); $event.preventDefault()">
                                <tg-svg svg-icon="icon-edit" [svgTitle]="'ADMIN.COMMON.TITLE_ACTION_EDIT_VALUE' | tgTranslate"></tg-svg>
                            </a>
                            <a class="delete-value" href="" (click)="deleteValue(value); $event.preventDefault()">
                                <tg-svg svg-icon="icon-trash" [svgTitle]="'ADMIN.COMMON.TITLE_ACTION_DELETE_VALUE' | tgTranslate"></tg-svg>
                            </a>
                        </div>
                    </form>

                    <form *ngIf="value.editing" class="row table-main edition" [formGroup]="valuesForm.at(i)">
                        <div class="color-column">
                            <tg-color-selector [initColor]="value.color" (selectColor)="value.color = $event.color"></tg-color-selector>
                        </div>
                        <div class="status-name">
                            <input
                                name="name"
                                type="text"
                                formControlName="name"
                                [attr.placeholder]="'ADMIN.US_STATUS.PLACEHOLDER_WRITE_NAME' | tgTranslate"
                                maxlength="255"
                            />
                            <p class="field-error" *ngIf="valuesForm.at(i).get('name').invalid && valuesForm.at(i).get('name').touched">
                                {{ errors.getMessage(valuesForm.at(i).get('name').errors) }}
                            </p>
                        </div>
                        <div class="status-slug"></div>
                        <div class="is-closed-column">
                            <select name="is_closed" formControlName="is_closed">
                                <option [ngValue]="true">{{ "COMMON.YES" | tgTranslate }}</option>
                                <option [ngValue]="false">{{ "COMMON.NO" | tgTranslate }}</option>
                            </select>
                        </div>
                        <div class="is-archived-column">
                            <select name="is_archived" formControlName="is_archived">
                                <option [ngValue]="true">{{ "COMMON.YES" | tgTranslate }}</option>
                                <option [ngValue]="false">{{ "COMMON.NO" | tgTranslate }}</option>
                            </select>
                        </div>
                        <div class="options-column">
                            <a class="save e2e-save" href="" [title]="'COMMON.SAVE' | tgTranslate" (click)="save(value, i); $event.preventDefault()">
                                <tg-svg svg-icon="icon-check-empty"></tg-svg>
                            </a>
                            <a class="cancel" href="" [title]="'COMMON.CANCEL' | tgTranslate" (click)="cancelEdit(value, i); $event.preventDefault()">
                                <tg-svg svg-icon="icon-close"></tg-svg>
                            </a>
                        </div>
                    </form>
                </div>
            </div>

            <form [formGroup]="newValueForm" (ngSubmit)="addNew()">
                <div class="row table-main new-value" [class.hidden]="!showAddForm">
                    <div class="color-column">
                        <tg-color-selector [initColor]="newValue.color" (selectColor)="newValue.color = $event.color"></tg-color-selector>
                    </div>
                    <div class="status-name">
                        <input
                            name="name"
                            type="text"
                            formControlName="name"
                            [attr.placeholder]="'ADMIN.US_STATUS.PLACEHOLDER_WRITE_NAME' | tgTranslate"
                            maxlength="255"
                        />
                        <p class="field-error" *ngIf="newValueForm.get('name').invalid && newValueForm.get('name').touched">
                            {{ errors.getMessage(newValueForm.get('name').errors) }}
                        </p>
                    </div>
                    <div class="status-slug"></div>
                    <div class="is-closed-column">
                        <select name="is_closed" formControlName="is_closed">
                            <option [ngValue]="true">{{ "COMMON.YES" | tgTranslate }}</option>
                            <option [ngValue]="false">{{ "COMMON.NO" | tgTranslate }}</option>
                        </select>
                    </div>
                    <div class="is-archived-column">
                        <select name="is_archived" formControlName="is_archived">
                            <option [ngValue]="true">{{ "COMMON.YES" | tgTranslate }}</option>
                            <option [ngValue]="false">{{ "COMMON.NO" | tgTranslate }}</option>
                        </select>
                    </div>
                    <div class="options-column">
                        <a class="add-new e2e-save" href="" [title]="'COMMON.ADD' | tgTranslate" (click)="addNew(); $event.preventDefault()">
                            <tg-svg svg-icon="icon-check-empty"></tg-svg>
                        </a>
                        <a class="delete-new" href="" [title]="'COMMON.CANCEL' | tgTranslate" (click)="cancelAdd(); $event.preventDefault()">
                            <tg-svg svg-icon="icon-close"></tg-svg>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
