<div class="forgot-form-container">
    <p class="forgot-text">
        <span>{{ "FORGOT_PASSWORD_FORM.TITLE" | tgTranslate }}</span>
        <br />
        <span>{{ "FORGOT_PASSWORD_FORM.SUBTITLE" | tgTranslate }}</span>
    </p>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <fieldset>
            <input
                type="text"
                autocorrect="off"
                autocapitalize="none"
                name="username"
                formControlName="username"
                [attr.placeholder]="'FORGOT_PASSWORD_FORM.PLACEHOLDER_FIELD' | tgTranslate"
            />
            <p class="field-error" *ngIf="form.get('username').invalid && form.get('username').touched">
                {{ errors.getMessage(form.get('username').errors) }}
            </p>
        </fieldset>
        <fieldset>
            <button
                class="btn-small full"
                variant="primary"
                type="submit"
                [title]="'FORGOT_PASSWORD_FORM.ACTION_RESET_PASSWORD' | tgTranslate"
            >{{ "FORGOT_PASSWORD_FORM.ACTION_RESET_PASSWORD" | tgTranslate }}</button>
        </fieldset>

        <div class="register-text">
            <a href="" [tgNav]="'login'">{{ "FORGOT_PASSWORD_FORM.LINK_CANCEL" | tgTranslate }}</a>
        </div>
    </form>
</div>
