<div class="type-data" [class.clickable]="editable" (click)="openPopover($event)">
    <div class="label level-name">{{ "COMMON.FIELDS.TYPE" | tgTranslate }}</div>
    <div class="level-data">
        <span class="label">{{ type?.name }}</span>
        <span class="level-color" [style.background-color]="type?.color"></span>
    </div>

    <ul class="popover pop-type">
        <li *ngFor="let tp of typeList">
            <a class="type" href="" [title]="tp.name" (click)="save(tp.id, $event)">
                <span class="item-text">{{ tp.name }}</span>
            </a>
        </li>
    </ul>
</div>
