<button
    class="track-button like-button"
    [title]="'PROJECT.LIKE_BUTTON.BUTTON_TITLE' | tgTranslate"
    (click)="toggleLike()"
    [class.active]="project.get('is_fan')"
    [class.is-hover]="project.get('is_fan') && isMouseOver"
    (mouseover)="showTextWhenMouseIsOver()"
    (mouseleave)="showTextWhenMouseIsLeave()"
>
    <span class="track-inner">
        <span class="track-icon">
            <tg-svg svg-icon="icon-like"></tg-svg>
        </span>
        <span *ngIf="!project.get('is_fan')">{{ "PROJECT.LIKE_BUTTON.LIKE" | tgTranslate }}</span>
        <span *ngIf="project.get('is_fan') && !isMouseOver">{{ "PROJECT.LIKE_BUTTON.LIKED" | tgTranslate }}</span>
        <span *ngIf="project.get('is_fan') && isMouseOver">{{ "PROJECT.LIKE_BUTTON.UNLIKE" | tgTranslate }}</span>
    </span>
    <span
        class="track-button-counter"
        [title]="'PROJECT.LIKE_BUTTON.COUNTER_TITLE' | tgTranslate:{total: project.get('total_fans') || 0}:'messageformat'"
    >
        <img *ngIf="loading" class="loading-spinner" [src]="spinnerSrc" alt="loading..." />
        <ng-container *ngIf="!loading">{{ project.get("total_fans") }}</ng-container>
    </span>
</button>
