<div class="discover-results-header">
    <div class="discover-results-header-inner">
        <div class="title">
            <tg-svg svg-icon="icon-search"></tg-svg>
            <h2>{{ "DISCOVER.SEARCH.RESULTS" | tgTranslate }}</h2>
        </div>

        <div class="filter-discover-search">
            <a class="discover-search-filter" href="#" (click)="openLike(); $event.preventDefault()" [class.active]="likeIsOpen">
                <tg-svg svg-icon="icon-like"></tg-svg>
                <span>{{ "DISCOVER.MOST_LIKED" | tgTranslate }}</span>
            </a>
            <a class="discover-search-filter" href="#" (click)="openActivity(); $event.preventDefault()" [class.active]="activityIsOpen">
                <tg-svg svg-icon="icon-activity"></tg-svg>
                <span>{{ "DISCOVER.MOST_ACTIVE" | tgTranslate }}</span>
            </a>
        </div>
    </div>

    <div class="discover-search-subfilter most-liked-subfilter" *ngIf="likeIsOpen">
        <a class="results" *ngIf="orderBy" title="" href="#" (click)="setOrderBy(); $event.preventDefault()">{{ "DISCOVER.FILTERS.CLEAR" | tgTranslate }}</a>

        <ul class="filter-list">
            <li><a href="#" [class.active]="orderBy === '-total_fans_last_week'" (click)="setOrderBy('-total_fans_last_week'); $event.preventDefault()">{{ "DISCOVER.FILTERS.WEEK" | tgTranslate }}</a></li>
            <li><a href="#" [class.active]="orderBy === '-total_fans_last_month'" (click)="setOrderBy('-total_fans_last_month'); $event.preventDefault()">{{ "DISCOVER.FILTERS.MONTH" | tgTranslate }}</a></li>
            <li><a href="#" [class.active]="orderBy === '-total_fans_last_year'" (click)="setOrderBy('-total_fans_last_year'); $event.preventDefault()">{{ "DISCOVER.FILTERS.YEAR" | tgTranslate }}</a></li>
            <li><a href="#" [class.active]="orderBy === '-total_fans'" (click)="setOrderBy('-total_fans'); $event.preventDefault()">{{ "DISCOVER.FILTERS.ALL_TIME" | tgTranslate }}</a></li>
        </ul>
    </div>

    <div class="discover-search-subfilter most-active-subfilter" *ngIf="activityIsOpen">
        <a class="results" *ngIf="orderBy" title="" href="#" (click)="setOrderBy(); $event.preventDefault()">{{ "DISCOVER.FILTERS.CLEAR" | tgTranslate }}</a>

        <ul class="filter-list">
            <li><a href="#" [class.active]="orderBy === '-total_activity_last_week'" (click)="setOrderBy('-total_activity_last_week'); $event.preventDefault()">{{ "DISCOVER.FILTERS.WEEK" | tgTranslate }}</a></li>
            <li><a href="#" [class.active]="orderBy === '-total_activity_last_month'" (click)="setOrderBy('-total_activity_last_month'); $event.preventDefault()">{{ "DISCOVER.FILTERS.MONTH" | tgTranslate }}</a></li>
            <li><a href="#" [class.active]="orderBy === '-total_activity_last_year'" (click)="setOrderBy('-total_activity_last_year'); $event.preventDefault()">{{ "DISCOVER.FILTERS.YEAR" | tgTranslate }}</a></li>
            <li><a href="#" [class.active]="orderBy === '-total_activity'" (click)="setOrderBy('-total_activity'); $event.preventDefault()">{{ "DISCOVER.FILTERS.ALL_TIME" | tgTranslate }}</a></li>
        </ul>
    </div>
</div>
