<form [formGroup]="form" (ngSubmit)="submit()">
    <fieldset>
        <label for="current-password">{{ "CHANGE_PASSWORD.FIELD_CURRENT_PASSWORD" | tgTranslate }}</label>
        <input
            type="password"
            name="password"
            id="current-password"
            formControlName="currentPassword"
            [attr.placeholder]="'CHANGE_PASSWORD.PLACEHOLDER_CURRENT_PASSWORD' | tgTranslate"
        />
    </fieldset>

    <fieldset>
        <label for="new-password">{{ "CHANGE_PASSWORD.FIELD_NEW_PASSWORD" | tgTranslate }}</label>
        <input
            type="password"
            name="new-password"
            id="new-password"
            formControlName="newPassword1"
            [attr.placeholder]="'CHANGE_PASSWORD.PLACEHOLDER_NEW_PASSWORD' | tgTranslate"
        />
        <p class="field-error" *ngIf="form.get('newPassword1').invalid && form.get('newPassword1').touched">
            {{ errors.getMessage(form.get('newPassword1').errors) }}
        </p>
    </fieldset>

    <fieldset>
        <label for="retype-password">{{ "CHANGE_PASSWORD.FIELD_RETYPE_PASSWORD" | tgTranslate }}</label>
        <input
            type="password"
            name="retype-password"
            id="retype-password"
            formControlName="newPassword2"
            [attr.placeholder]="'CHANGE_PASSWORD.PLACEHOLDER_RETYPE_PASSWORD' | tgTranslate"
        />
        <p class="field-error" *ngIf="form.get('newPassword2').invalid && form.get('newPassword2').touched">
            {{ errors.getMessage(form.get('newPassword2').errors) }}
        </p>
    </fieldset>

    <fieldset>
        <button class="btn-small" variant="primary" type="submit" [title]="'COMMON.SAVE' | tgTranslate" [disabled]="submitting">
            {{ "COMMON.SAVE" | tgTranslate }}
        </button>
    </fieldset>
</form>
