<div class="change-password-form-container">
    <p class="change-password-text">
        <strong>{{ "CHANGE_PASSWORD_RECOVERY_FORM.TITLE" | tgTranslate }}</strong>
        <br />
        <span>{{ "CHANGE_PASSWORD_RECOVERY_FORM.SUBTITLE" | tgTranslate }}</span>
    </p>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <fieldset>
            <input
                type="password"
                name="password"
                id="password"
                formControlName="password"
                [attr.placeholder]="'CHANGE_PASSWORD_RECOVERY_FORM.PLACEHOLDER_NEW_PASSWORD' | tgTranslate"
            />
            <p class="field-error" *ngIf="form.get('password').invalid && form.get('password').touched">
                {{ errors.getMessage(form.get('password').errors) }}
            </p>
        </fieldset>
        <fieldset>
            <input
                type="password"
                name="password2"
                id="password2"
                formControlName="password2"
                [attr.placeholder]="'CHANGE_PASSWORD_RECOVERY_FORM.PLACEHOLDER_RE_TYPE_NEW_PASSWORD' | tgTranslate"
            />
            <p class="field-error" *ngIf="form.get('password2').invalid && form.get('password2').touched">
                {{ errors.getMessage(form.get('password2').errors) }}
            </p>
            <p class="field-error" *ngIf="!form.get('password2').errors && form.errors?.['equalTo'] && form.get('password2').touched">
                {{ errors.getMessage(form.errors) }}
            </p>
        </fieldset>
        <fieldset>
            <button
                class="button-change-password btn-small full"
                variant="primary"
                type="submit"
                [title]="'CHANGE_PASSWORD_RECOVERY_FORM.ACTION_RESET_PASSWORD' | tgTranslate"
            >{{ "CHANGE_PASSWORD_RECOVERY_FORM.ACTION_RESET_PASSWORD" | tgTranslate }}</button>
        </fieldset>
    </form>
</div>
